<% unless omniauthable_signed_in? %>
	<div class="marketing">
		<h2>The Startup Bus is en route to Austin, TX</h2>
		<h3>Become a Fantasy Investor and help your favorite picks win.</h3>

		<br />

		<div class="row">
			<div class="col-md-4  col-md-offset-4">
				<% unless omniauthable_signed_in? %>
					<%= link_to omniauthable_omniauth_authorize_path(:facebook), class:"btn btn-default btn-facebook" do %>
						Register with Facebook to get started
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>

<section class="box">
	<h3 class="pull-left">All Teams</h3>

	<% if can?(:create_team, :all) %>  
		<a href="<%= new_team_path %>" class="pull-right btm btn-primary btn-sm">Create New</a>
	<% end %>

	<div class="clearfix"></div>
	<br />

	<div class="row">
		<%= render @teams %>
	</div>
</section>