<h4><%= milestone.name %></h4>
<ul>
	<li><b>Description: </b><%= milestone.description %></li>
	<li><b>Max Points: </b><%= milestone.max_points %></li>
	<li><b>Target Completion Date: </b><%= milestone.target_completion_date %></li>
</ul>
