<h1>Milestone List</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ranking</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @milestones.each do |milestone| %>
      <tr>
        <td><%= milestone.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>