<tr class="success">
	<td><%= milestone_team.milestone.name %></td>
	<td><%= milestone_team.milestone.max_points %></td>
	<td><%= milestone_team.milestone.target_completion_date.strftime("%m-%d-%y") %></td>
	<td><%= milestone_team.created_at.strftime("%m-%d-%y") %></td>
</tr>