<tr class="success">
	<td><%= milestone_team.milestone.name %></td>
	<td><%= milestone_team.url %></td>
	<td><%= milestone_team.description %></td>
	<td><%= milestone_team.created_at.strftime("%m-%d-%y") %></td>
</tr>