<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.name %>!</h1>
    <p>Welcome to the StartupBus Game! Head on over to <a href="http://game.startupbus.com/">the game</a> and start investing in your favorite teams! Drive traffic to their websites and invest strategically to increase your score and take home the glory.</p>
  </body>
</html>