<%
		teams = Team.all.sort.reverse
		top_teams = teams.pop(2).reverse
		rising_teams = teams.pop(1).reverse
		teams = teams.reverse
%>

<div class="jumbotron">
	<h1>Welcome, Investor!</h1>
	<p>...or are you a buspreneur?</p>
  <%= link_to investor_request_buspreneurship_path(current_omniauthable),
    class: "btn btn-primary",
    confirm: "Are you sure? You won't be able to participate until you've been approved!",
    method: :put do %>
    Request Verification
  <% end %>
</div> <!-- /jumbotron -->

<div class="clearfix">

	<h2 class="sb-collection-title">Top teams</h2>

	<div class="row">
		<%= render partial: "team", collection: top_teams %>
	</div>

	<h2 class="sb-collection-title">On the rise</h2>
	<div class="row">
		<%= render partial: "team", collection: rising_teams %>
	</div>

	<h2 class="sb-collection-title">Everyone else</h2>
	<div class="row">
		<%= render partial: "team", collection: teams %>
	</div>
</div>
