
<div class="jumbotron">
	<h1>Welcome, Investor!</h1>
	<p>...or are you a buspreneur?</p>
	<a href="" class="btn btn-info">Request Verification</a>
</div> <!-- /jumbotron -->

<div class="clearfix">
	
	<h2 class="sb-collection-title">Top teams</h2>
		
	<div class="row">
	
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail sb-item-summary">
				<%= image_tag image_path('bus-icons/cali.png'), :class => 'sb-bus-icon' %>
				<img src="http://placehold.it/600x300" alt="Team name">
	      		<div class="caption">
	        		<h3>Gnar.ly</h3>
	        		<p><span class="sb-funding-amount">$300</span> raised</p>
	        		<p>Delivering an innovative architecture to disruptive technologies.</p>
	        		<div class="clearfix">
	        			<a href="#" class="btn btn-success col-xs-6" role="button"><i class="fa fa-dollar"></i> Invest</a> <a href="#" class="btn btn-default col-xs-6" role="button">Learn More</a>
	        		</div>
	      		</div>
	    	</div>
	  	</div>


		<div class="col-sm-6 col-md-4">
			<div class="thumbnail sb-item-summary">
				<%= image_tag image_path('bus-icons/cali.png'), :class => 'sb-bus-icon' %>
				<img src="http://placehold.it/600x300" alt="Team name">
	      		<div class="caption">
	        		<h3>Gnar.ly</h3>
	        		<p><span class="sb-funding-amount">$300</span> raised</p>
	        		<p>Delivering an innovative architecture to disruptive technologies.</p>
	        		<div class="clearfix">
	        			<a href="#" class="btn btn-success col-xs-6" role="button"><i class="fa fa-dollar"></i> Invest</a> <a href="#" class="btn btn-default col-xs-6" role="button">Learn More</a>
	        		</div>
	      		</div>
	    	</div>
	  	</div>

	</div> <!-- /row -->


	<h2 class="sb-collection-title">On the rise</h2>

	<div class="row">
		<!-- Team summaries here -->
	</div> <!-- /row -->


	<h2 class="sb-collection-title">Everyone else</h2>

	<div class="row">
		<!-- Team summaries here -->
	</div> <!-- /row -->

</div>
