<%
		teams = Team.all.sort.reverse
		top_teams = teams.pop(2).reverse
		rising_teams = teams.pop(1).reverse
		teams = teams.reverse
%>


<div class="jumbotron">
	<h1>Welcome, Investor!</h1>

</div> <!-- /jumbotron -->

<div class="clearfix">

	<h2 class="sb-collection-title">Your Portfolio</h2>

	<div class="row">
		<%= render partial: "investments", collection: @investor.investments %>
	</div>

	<h2 class="sb-collection-title">On the rise</h2>
	<div class="row">
		<%= render partial: "team", collection: rising_teams %>
	</div>

	<h2 class="sb-collection-title">Everyone else</h2>
	<div class="row">
		<%= render partial: "team", collection: teams %>
	</div>
</div>
