<tr class="warning">
	<td><%= team_milestone_request.milestone.name %></td>
	<td><%= team_milestone_request.url %></td>
	<td><%= team_milestone_request.description %></td>
	<td><%= team_milestone_request.created_at.strftime("%m-%d-%y") %></td>
</tr>