// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert
	margin-top: 10px

.component-box
	background-color: white
	padding: $sb-gutter
	margin-top: $sb-gutter

	h2 
		margin-top: 0px
		margin-bottom: $sb-gutter * 1.5
	table 
		margin-bottom: 0px

.back-link
	color: $gray-light
	padding: $sb-gutter/2  0px
	display: inline-block
	font-size: 0.85em
	i 
		margin-right: 3px