
// LAYOUT
// -----------------
.container
	max-width: 990px


// DEFAULTS
// -----------------
body
	background-color: $gray-lighter
	padding-top: 60px
img
	max-width: 100%


// NAVBAR
// -----------------
.navbar-default 
	color: lighten($sb-grey, 45%)
	background-color: $gray-dark
	a 
		color: #FFF
		text-decoration: none
		&:hover
			color: #D1D1D1
			text-decoration: none
	
	.navbar-brand
		font-family: $headings-font-family
		text-transform: uppercase
		letter-spacing: -0.02em

	.navbar-header .navbar-text 
		text-transform: uppercase
		color: lighten($sb-grey, 55%)
		font-size: 0.8em
		padding-top: 2px
		word-spacing: 3px

	.navbar-right
		.navbar-text
			float: none
			color: $gray-light
			display: inline-block
		.btn
			margin-top: 8px
		img
			border-radius: 2px

// BUTTONS
// -----------------
.btn-facebook 
	background-color: $facebookBlue
	border: 1px solid darken($facebookBlue, 10%)
	color: white
	i
		margin-right: 6px
