
// COLORS
// ---------------
$red: #FF4444
$green: #5cb85c
$facebookBlue: #4A629E

$brand-primary:         #F5841F
$brand-success:         #326e32
$brand-info:            #00AEEF


// STARTUPBUS
// ---------------
$sb-gutter: 25px

// BOOTSTRAP OVERRIDES
// ---------------
$jumbotron-bg:        	#fff
$headings-font-family: 	'Exo'
