
// STARTUPBUS
// ---------------
$sb-gutter: 25px
$sb-blue: 				#B2C1CD
$sb-blue-alt: 			#B1C3CE
$sb-magenta: 			#EA1F91
$sb-orange: 			#F58420
$sb-green: 				#AAD59B
$sb-sky-blue: 			#62C1D1
$sb-dark-blue: 			#3A4141
$sb-grey:				#323033


// COLORS
// ---------------
$red: 					#FF4444
$green: 				#5cb85c
$facebookBlue: 			#4A629E

$dark-blue: #1E6A7C

$brand-primary:        	$sb-sky-blue
$brand-success:         #326e32
$brand-info:           	#00AEEF



$border-light: 			#EBEBEB
$border-med: 			#E4E4E4
$border-dark: 			#E4E4E4


// TYPE
// ---------------

$font-family-sans-serif:  "Museo Sans", Montserrat, Helvetica, Arial, sans-serif
$font-family-serif:       "ff-tisa-web-pro", Georgia, "Times New Roman", Times, serif


$headings-font-family:    inherit
$headings-font-weight:    500
$headings-line-height:    1.1
$headings-color:          inherit



// BOOTSTRAP OVERRIDES
// ---------------
$jumbotron-bg:        		#fff

$navbar-default-link-color:				#fff
$navbar-default-link-hover-bg:			darken($sb-sky-blue, 5%)
$navbar-default-link-hover-color:		#fff
$navbar-default-brand-color:			lighten($sb-grey, 75%)

