
// COLORS
// ---------------
$red: 					#FF4444
$green: 				#5cb85c
$facebookBlue: 			#4A629E

$sb-blue: 				#B2C1CD
$sb-blue-alt: 			#B1C3CE
$sb-magenta: 			#EA1F91
$sb-orange: 			#F58420
$sb-green: 				#AAD59B
$sb-sky-blue: 			#07A9CE
$sb-grey:				#323033

$brand-primary:         $sb-sky-blue
$brand-success:         #326e32
$brand-info:            #00AEEF


// STARTUPBUS
// ---------------
$sb-gutter: 25px


// BOOTSTRAP OVERRIDES
// ---------------
$jumbotron-bg:        	#fff
$headings-font-family: 	'Montserrat', Helvetica, sans-serif
$font-family-sans-serif:'Lato', Helvetica, sans-serif
$font-family-base:        $font-family-sans-serif


