// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sb-participate
	margin-bottom: 25px
	h2
		text-align: center
		margin-bottom: 1em
		font-size: 2em
		text-transform: uppercase
		letter-spacing: -0.03em
		word-spacing: 3px
	h3
		text-align: center
		margin-top: 0px

// Dashboard team summaries

.sb-bus-icon
	position: absolute
	top: 0
	right: 0
	width: 50px

.sb-item-summary
	position: relative

.sb-funding-amount
	font-size: $font-size-h4
	color: $brand-success

.sb-collection-title
	font-size: $font-size-h1

.milestone
	word-break: break-word

	&:nth-of-type(3n + 1)
		clear: both
