// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sb-participate
	margin-bottom: 25px
	h2
		text-align: center
		margin-bottom: 1em
		font-size: 1.75em
	h3
		text-align: center
		margin-top: 0px



// Dashboard team summaries

.sb-bus-icon
	position: absolute
	top: 0
	right: 0
	width: 50px

.sb-item-summary
	position: relative

.sb-funding-amount
	font-size: $font-size-h4
	color: $brand-success

.sb-collection-title
	font-size: $font-size-h1



// Single bus pages

.sb-bus-header-img
	border: 3px solid $brand-primary

.sb-buspreneur
	.caption
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		background-color: rgba($gray-darker, 0.3)
		color: #fff

		a 
			color: lighten($brand-info, 30%)
	&:hover
		background-color: $brand-info
	

