<div class="component-box">
  <div class="row">
    <div class="col-sm-8">
      <h2>North American Bus Listing</h2>
    </div>
  </div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Ranking</th>
    </tr>
  </thead>

  <tbody>
    <% @buses.each do |bus| %>
      <tr>
        <td><%= link_to bus.name, bus_path(bus) %></td>
        <td><%= bus.ranking %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div></div>