<div class="col-sm-6 col-sm-offset-3">
  <div class="component-box">
    <h2>Register a bus</h2>
    
    <%= render 'form' %>
  </div>

  <a href="<%= buses_path %>" class="back-link"><i class="fa fa-arrow-left"></i> Back to bus listings</a>
</div>