
<header>
  <h2><%= @bus.name %></h2>
</header>

<section class="last">
  <h3 class="sb-collection-title">Teams</h3>
  <ul>
    <%= render @bus.teams %>
  </ul>
  <div class="clearfix"></div>
  <h3 class="sb-collection-title">Buspreneurs</h3>
  <div class="row">
    <%= render @bus.buspreneurs %>
  </div>
</section>