<div class="col-sm-8 col-sm-offset-2">
	<div class="component-box">
		<h2>Patience</h2>
		<p class="featured-text">You've requested to be a buspreneur. Please wait while one of our conductors approves your status and assigns you to a team.</p>
		<p>In the meantime, <a href="http://media3.giphy.com/media/C3ADmBThxaNdS/giphy.gif" target="_blank">cat gif?</a></p>
	</div>
</div>